{% extends "App/base.html" %}
{% load staticfiles %}
{% block title %}Edit Project{% endblock %}

{% block head %}
    <!-- google map picker -->
    <script src="{% static 'jquery/jquery-2.1.4.min.js' %}"></script>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCJ_kAww6tmQVER8PQtFicAZ7JdjekbnU">
    </script>
    <style type="text/css">
      #mapCanvas { width: 100%; min-height: 400px; height: 100%; margin: 0; padding: 0;}
    </style>
    <script src="{% static 'gmapsjs/gmaps.js' %}"></script>
    <script src="{% static 'geometa/geometa.js' %}"></script>

    <!-- My google maps script -->
    <script>
        // Passing django values to the map
        var init_lat = {{ r_listing.latitude }};
        var init_lon = {{ r_listing.longitude }};
    </script>
    <script src="{% static 'js/map_picker_edit.js' %}"></script>

{%  endblock %}

{% block content %}
<div class="blank_page_content">
<div class="row"><div class="col-md-10 col-md-offset-1">
    <div class="row">
        <div class="col-md-5 ">
            <h1>Edit Project: <small>{{ r_listing.title }}</small></h1>
            {% if form.errors %}<p></p>{% endif %}
        </div>
    </div><br />

    <form id="edit_listing_form" method="post" action="/edit_listing/{{ r_listing.id }}/" enctype="multipart/form-data">

        {% csrf_token %}

        <div class="row">
            <div class="col-md-6">
                <!-- COL 1 -->
                {{ form.non_field_errors }}
                {{ form.title.errors }}
                <label for="{{ form.title.id_for_label }}">Title:</label>
                <div class="input-group margin-bottom-sm">
                <span class="input-group-addon"><i class="fa fa-cube fa-fw"></i></span>
                <input class="form-control input-lg" type="text" name="{{ form.title.name }}" placeholder="Title" value="{{ form.title.value|default_if_none:"" }}">
                </div><br />
                {{ form.price.errors }}
                <label for="{{ form.price.id_for_label }}">Price:</label>
                <div class="input-group margin-bottom-sm">
                <span class="input-group-addon"><i class="fa fa-gbp fa-fw"></i></span>
                <input class="form-control input-lg" type="text" name="{{ form.price.name }}" placeholder="Price" value="{{ form.price.value|default_if_none:"" }}">
                </div><br />
                {{ form.description.errors }}
                <label for="{{ form.description.id_for_label }}">Description:</label>
                <div class="input-group margin-bottom-sm">
                <span class="input-group-addon"><i class="fa fa-align-left fa-fw"></i></span>
                <textarea class="form-control input-lg" type="textarea" rows="10" name="{{ form.description.name }}" placeholder="Description">{{ form.description.value|default_if_none:"" }}</textarea>
                </div><br />
                {{ form.genre.errors }}
                <label for="{{ form.genre.id_for_label }}">Genre:</label>
                <div class="input-group margin-bottom-sm">
                <span class="input-group-addon"><i class="fa fa-headphones fa-fw"></i></span>
                <select class="form-control input-lg" id="id_genre" name="{{ form.genre.name }}">
                    <option value="" selected="{{ form.genre.value|default_if_none:"selected" }}">Choose a genre...</option>
                    <option value="Pop">Pop</option>
                    <option value="Reggae">Reggae</option>
                    <option value="Folk">Folk</option>
                    <option value="R&amp;B/Soul">R&amp;B/Soul</option>
                    <option value="Jazz">Jazz</option>
                    <option value="Indie">Indie</option>
                    <option value="Metal">Metal</option>
                    <option value="Rock">Rock</option>
                    <option value="Garage">Garage</option>
                    <option value="Drum &amp; Bass">Drum &amp; Bass</option>
                    <option value="House">House</option>
                    <option value="Hip Hop">Hip Hop</option>
                    <option value="Grime">Grime</option>
                </select>
                </div><br />
                {{ form.listing_pic.errors }}
                <label for="{{ form.listing_pic.id_for_label }}">Project Picture:</label>
                <div class="input-group margin-bottom-sm">
                <span class="input-group-addon"><i class="fa fa-file-image-o fa-fw"></i></span>
                <input class="form-control input-lg" type="file" name="{{ form.listing_pic.name }}" value="{{ form.listing_pic.value|default_if_none:"" }}">
                </div><br />
                {{ form.audio_file.errors }}
                <label for="{{ form.audio_file.id_for_label }}">Audio File:</label>
                <div class="input-group margin-bottom-sm">
                <span class="input-group-addon"><i class="fa fa-file-sound-o fa-fw"></i></span>
                <input class="form-control input-lg" type="file" name="{{ form.audio_file.name }}" value="{{ form.audio_file.value|default_if_none:"" }}">
                </div><br />
            </div>

            <div class="col-md-6">
                {{ form.address.errors }}
                <label for="{{ form.address.id_for_label }}">Choose a location:</label>
                <div id="mapCanvas"></div>

                <table class="table table-striped">
                <tr><td><i class="fa fa-map-marker fa-fw"></i> <div id="address">address</div></td></tr>
                </table>

                <input class="form-control" id="lat_form" type="hidden" name="{{ form.latitude.name }}" placeholder="Latitude" size="25"><br />
                <input class="form-control" id="long_form" type="hidden" name="{{ form.longitude.name }}" placeholder="Longitude" size="25"><br />
                <input class="form-control" id="address_form" type="hidden" name="{{ form.address.name }}" placeholder="Address" value="{{ form.address.value|default_if_none:"" }}"><br />
            </div>

            <div class="col-md-6"><CENTER><input class="btn btn-default btn-lg" type="submit" value="Save Changes" /></CENTER></div>
        </div>


        <br>

    </form>
    <a href="/delete_listing/{{ r_listing.id }}/"><button class="btn btn-default"><i class="fa fa-trash fa-fw"></i> Delete Project</button></a>
    <br>
</div>
</div></div>
<br />
{% endblock %}