{% extends "App/base.html" %}
{% load staticfiles %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="blank_page_content">
    <div class="col-md-10 col-md-offset-1">
        <!-- REGISTRATION FORM -->
        <h1>Login</h1>
        <br>
        <form id="login_form" method="post" action="/login/">
            {% csrf_token %}

            <div class="col-xs-4">
            <div class="input-group margin-bottom-sm">
            <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>

            <input class="form-control" type="text" name="username" placeholder="Username" size="25">
            </div>
            </div>
            <br><br>
            <div class="col-xs-4">
            <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
            <input class="form-control" type="password" name="password" placeholder="Password" size="25">
            </div>
            </div>
            <br><br><br>
            <input class="btn btn-default" type="submit" value="submit" />
            <br><br><br><br>
        </form>
    </div>
</div>

{% endblock %}