{% extends "App/base.html" %}
{% load staticfiles %}
{% block title %}(New Offer){% endblock %}

{% block head %}
    <!-- jquery -->
    <script src="{% static 'jquery/jquery-2.1.4.min.js' %}"></script>

{%  endblock %}

{% block new_project_active %}active{% endblock %}

{% block content %}
<div class="blank_page_content">
<div class="row">
    <div class="col-md-10 col-md-offset-1">
    <div class="row">
        <div class="col-md-10 ">
            <h1>Create a new offer</h1>
            {% if form.errors %}<p></p>{% endif %}
        </div>
    </div><br />
    {% if user_applied %}
        You've already applied for this project! <br /><br />
        <a href="/listing/{{ r_listing.id }}"><button class="btn btn-default"><i class="fa fa-reply fa-fw"></i> Go Back</button></a>
    {% else %}
        <form id="new_offer_form" method="post" action="/new_offer/{{ r_listing.id }}/" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <!-- COL 1 -->
                    {{ form.non_field_errors }}
                    {{ form.description.errors }}
                    <label for="{{ form.description.id_for_label }}">Description:</label>
                    <div class="input-group margin-bottom-sm">
                    <span class="input-group-addon"><i class="fa fa-align-left fa-fw"></i></span>
                    <textarea class="form-control input-lg" type="textarea" rows="10" name="{{ form.description.name }}" placeholder="Description">{{ form.description.value|default_if_none:"" }}</textarea>
                    </div><br />
                    <CENTER><input class="btn btn-default btn-lg" type="submit" value="Apply" /></CENTER>
                </div>

            </div>
            <br>
        </form>
    {%  endif %}
</div>
</div></div>
<br />
{% endblock %}