{% extends "App/base.html" %}
{% load staticfiles %}
{% block title %}Create Project{% endblock %}

{% block head %}
    <!-- google map picker -->
    <script src="{% static 'jquery/jquery-2.1.4.min.js' %}"></script>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCJ_kAww6tmQVER8PQtFicAZ7JdjekbnU">
    </script>
    <style type="text/css">
      #mapCanvas { width: 40%; min-height: 400px; height: 100%; margin: 0; padding: 0;}
    </style>
    <script src="{% static 'gmapsjs/gmaps.js' %}"></script>
    <script src="{% static 'geometa/geometa.js' %}"></script>
{% comment %}    <script>
    var map;
    $(document).ready(function () {
        // Create map
        map = new GMaps({
            div: '#map',
            lat: 51.5072,
            lng: -0.1275,
            zoom: 15
        });
        alert("initialization");
        map.addMarker({
            lat: 51.5072,
            lng: -0.1275,
            title: 'My Marker',
        })
        GMaps.geolocate({
              success: function(position) {
                  alert("geolocation success");
                map.setCenter(position.coords.latitude, position.coords.longitude);
              },
              error: function(error) {
                alert('Geolocation failed: '+error.message);
              },
              not_supported: function() {
                alert("Your browser does not support geolocation");
              },
              always: function() {
                alert("Done!");
              }
            });
        alert("geolocation complete");
        document.getElementById("find_me").onclick = function () {
            // Center map using geolocation
            alert("starting geolocation");
            GMaps.geolocate({
              success: function(position) {
                map.setCenter(position.coords.latitude, position.coords.longitude);
              },
              error: function(error) {
                alert('Geolocation failed: '+error.message);
              },
              not_supported: function() {
                alert("Your browser does not support geolocation");
              },
              always: function() {
                alert("Done!");
              }
            });
        };
        document.getElementById("address_search").onclick = function () {
            GMaps.geocode({
                address: $('#address_search').val(),
                callback: function (results, status) {
                    if (status == 'OK') {
                        var latlng = results[0].geometry.location;
                        map.setCenter(latlng.lat(), latlng.lng());
                        map.addMarker({
                            lat: latlng.lat(),
                            lng: latlng.lng()
                        });
                    }
                }
            });
            alert("geocoding");
        };
    });

    </script>{% endcomment %}
    <!-- My google maps script -->
    <script src="{% static 'js/map_picker.js' %}"></script>

{%  endblock %}

{% block content %}
<div class="blank_page_content">
<div class="row"><div class="col-md-12 col-md-offset-2">
    <div class="row">
        <div class="col-md-5 ">
            <h1>Create a new project</h1>
            {% if form.errors %}<p></p>{% endif %}
        </div>
    </div><br />

    <form id="new_listing_form" method="post" action="/new_listing/" enctype="multipart/form-data">

        {% csrf_token %}
        <div class="row">
            <div class="col-xs-3 col-md-3">
            <div class="input-group margin-bottom-sm">
            <span class="input-group-addon"><i class="fa fa-edit fa-fw"></i></span>
            <input class="form-control input-lg" type="text" name="{{ form.title.name }}" placeholder="Title" size="25">
            </div>
            </div>
            <div class="col-xs-2 col-md-2">
            <div class="input-group margin-bottom-sm">
            <span class="input-group-addon"><i class="fa fa-gbp fa-fw"></i></span>
            <input class="form-control input-lg" type="text" name="{{ form.price.name }}" placeholder="Price" size="25">
            </div>
            </div>
        </div><br />

        <div class="row">
            <div class="col-xs-5 col-md-5">
            <div class="input-group margin-bottom-sm">
            <span class="input-group-addon"><i class="fa fa-commenting-o fa-fw"></i></span>
            <input class="form-control" type="text" name="{{ form.description.name }}" placeholder="Description" size="25">
            </div>
            </div>
        </div><br />

        <div class="row">
            <div class="col-xs-5 col-md-3">
                <div class="input-group margin-bottom-sm">
                <span class="input-group-addon"><i class="fa fa-globe fa-fw"></i></span>
                <input class="form-control" id="address_input" type="text" placeholder="Search Address" size="20">
                </div>
            </div>
            <div class="col-xs-5 col-md-2">
                <div class="btn btn-default" id="address_search"><i class="fa fa-search fa-fw"></i></div>
                <div class="btn btn-default" id="find_me" onclick="doGeolocation();">Find Me</div>
            </div>
        </div>
        <br />
        <div id="mapCanvas"></div>

        <div class="row">
            <div class="col-xs-5 col-md-5">
            <table class="table table-striped">
                <tr><td>
                    <i class="fa fa-home fa-fw"></i> <div id="address">address</div>
                </tr></td>
            </table>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3 col-md-2">
            <div class="input-group margin-bottom-sm">
            <span class="input-group-addon"><i class="fa fa-globe fa-fw"></i>LAT</span>
            <input class="form-control" id="lat_form" type="text" name="{{ form.latitude.name }}" placeholder="Latitude" size="25">
            </div>
            </div>
            <div class="col-xs-3 col-md-2">
            <div class="input-group margin-bottom-sm">
            <span class="input-group-addon"><i class="fa fa-globe fa-fw"></i>LNG</span>
            <input class="form-control" id="long_form" type="text" name="{{ form.longitude.name }}" placeholder="Longitude" size="25">
            </div>
            </div>
        </div><br />

        <div class="row">
            <div class="col-xs-5 col-md-5">
            <div class="input-group margin-bottom-sm">
            <span class="input-group-addon"><i class="fa fa-music fa-fw"></i></span>
            <input class="form-control input-lg" type="file" name="{{ form.audio_file.name }}" size="25">
            </div>
            </div>
        </div><br />

        <input class="btn btn-default" type="submit" value="Submit" />
        <br>
    </form>

</div>
</div></div>
<br />
{% endblock %}