{% extends "App/base.html" %}
{% load staticfiles %}
{% block title %}{{ r_user.profile.artist_name }}'s Profile{% endblock %}

{% block content %}

    <div class="blank_page_content" xmlns="http://www.w3.org/1999/html">
        <br />
        <!-- PROFILE BEGIN -->
        {% if r_user == c_user %}
            <div class="row">
            <div class="pull-right col-lg-3">
                <a href="{% url 'settings_profile' %}"><button class="btn btn-default btn-md" ><i class="fa fa-pencil"></i> Edit Profile</button></a>
            </div>
            </div>
        {% endif %}
        <CENTER>
            <p><img class="img-rounded custom-img-rounded"
            {% if r_user.profile.profile_pic == "" or r_user.profile.profile_pic == Null %}
            src="{% static 'images/blank_user.jpg' %}"
            {% else %}
            src="{{ r_user.profile.profile_pic.url }}"
            {%  endif %}
            alt="Profile Picture" width="200" height="200"></p>
        <h1>{{ r_user.profile.artist_name }}

        <p><small>{{ r_user.first_name }} {{ r_user.last_name }}</small></p></h1>
        </CENTER>

        <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
            {{ r_user.profile.bio|linebreaksbr }}
            <!-- LISTINGS -->
        <h3>{{ r_user.profile.artist_name }}'s projects </h3>
        <div class="row">
            <div id="container">
            {% for project in r_listing %}
                <div class="item">
                <blockquote>
                    <a href="/listing/{{ project.id }}">
                        <h4>{{ project.title }}
                       <small>{{ project.description|truncatewords:20 }}</small></h4>
                    </a>
                    <div class="audiojs"><audio src="{{ project.audio_file.url }}" controls preload="none"/></div>
                </blockquote>
                </div>
            {% endfor %}
            </div>
        </div>

            <h3>Connect with {{ r_user.profile.artist_name }}: </h3>
            <a href="{{ r_user.profile.fb_link }}" target="_blank" class="btn btn-social-icon btn-facebook">
            <i class="fa fa-facebook fa-2x"></i>
            </a>
            <a href="{{ r_user.profile.tw_link }}" target="_blank" class="btn btn-social-icon btn-twitter">
            <i class="fa fa-twitter fa-2x"></i>
            </a>
            <a href="{{ r_user.profile.sc_link }}" target="_blank" class="btn btn-social-icon btn-soundcloud">
            <i class="fa fa-soundcloud fa-2x"></i>
            </a>
            <a href="{{ r_user.profile.yt_link }}" target="_blank" class="btn btn-social-icon btn-soundcloud">
            <i class="fa fa-youtube fa-2x"></i>
            </a>
            <a href="mailto:{{ r_user.email }}" target="_blank" class="btn btn-social-icon btn-soundcloud">
            <i class="fa fa-envelope-o fa-2x"></i>
            </a>

        </div>
        </div>

        <!-- PROFILE END -->
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'packery/packery.pkgd.min.js' %}"></script>
    <script src="{% static 'draggability/draggabilly.pkgd.min.js' %}"></script>
    <script>
        var $container = $('#container').packery({
          columnWidth: 80
        });

        $container.find('.item').each( function( i, itemElem ) {
          // make element draggable with Draggabilly
          var draggie = new Draggabilly( itemElem );
          // bind Draggabilly events to Packery
          $container.packery( 'bindDraggabillyEvents', draggie );
        });

        $(window).load(function() {
            $container.packery({
              itemSelector: '.item',
              gutter: 5
            });
        });
    </script>
    <link href="{% static 'css/listing_packery.css' %}" rel="stylesheet">
    <style type="text/css">
        .item:hover { background-color: #FBFBFB; }
    </style>
{% endblock %}